.search-input{
    width: 65%;
    height: 40px;
    border-radius: 25px;
    border: transparent;
    outline: none;
    padding: 10px 50px 10px 20px;
    font-size: 20px;
}

.search-icon{
    font-size: 20px;
    position: relative;
    left: -40px;
    cursor: pointer;
}

.loading-icon{
    font-size: 20px;
    position: relative;
    left: -40px;
}